body {
    font-family: Arial, sans-serif;
    padding: 10px;
    width: 250px;
}

h1 {
    font-size: 18px;
    margin-bottom: 10px;
}

#note-title, #note {
    width: 100%;
    font-size: 14px;
    margin-bottom: 2px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
    height: 30px;
}

#note {
    height: 50px;
}

button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    padding: 5px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 3px;
    overflow: hidden;
}

li span {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
}

li button {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 3px 6px;
    flex-shrink: 0;
}

li button.copy-btn {
    background-color: #dddddda2;
    margin-right: 5px;
}

li button.copy-btn:hover {
    background-color: #1976D2; 
}

li button.delete-btn {
    background-color: #dddddda2;
}

li button.delete-btn:hover {
    background-color: #d32f2f;
}

#note-list {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 3px;
    background-color: #f9f9f9;
}